@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}

@layer utilities {
    @keyframes slide-in {
        to {
            transform: translateX(0);
        }
    }

    .animate-slide-in {
        animation: slide-in 0.5s forwards ease;
        transform: translateX(100%);
    }
}
